<div class="max-width margin-block-end-half"
		data-controller="dialog" data-action="keydown.esc->dialog#close click@document->dialog#closeOnClickOutside">
	<button class="events__filter-btn input input--select flex-inline center min-width max-width txt-small" data-action="click->dialog#open:stop">
		<span class="overflow-ellipsis center">
			<%= filter_selected_collections_label(filter) %>
		</span>
	</button>

	<dialog class="events__popup popup popup--animated panel flex-column align-start gap-half fill-white shadow"
				style="z-index: 5;" data-dialog-target="dialog" data-action="turbo:before-cache@document->dialog#close">
		<%= render "events/filter/header" %>
		<%= render "events/filter/new_collection_option" %>

		<%= form_with url: events_path, method: :get, class: "flex flex-column max-width popup__list full-width",
					data: { controller: "form" } do |form| %>
			<%= render "events/filter/all_collections_option", form: form, filter: filter %>
			<%= render partial: "events/filter/collection_option", collection: Current.user.collections, as: :collection, locals: { form: form, filter: filter } %>
		<% end %>
	</dialog>
</div>
